# Node modules
node_modules/
**/node_modules/

# Build outputs
dist/
build/

# Env files (ignore in root, backend, frontend or anywhere)
*.env
*.env.local
*.env.development
*.env.production

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# System files
.DS_Store
.vscode/
.idea/

# Vercel
.vercel
